@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    -color-white: #FFF;
    --color-gray-100: #F8F8F8;
    --color-gray-150: #F3F3F3;
    --color-gray-200: #E8E8E8;
    --color-gray-300: #D4D4D4;
    --color-gray-400: #B6B6B6;
    --color-gray-500: #909090;
    --color-gray-600: #686868;
    --color-gray-700: #444;
    --color-gray-800: #242424;
    --color-black: #000;
    --color-brand-title: #000B1D;
    --color-info-accent: #5C5CE0;
    --color-info-accent-hover: #4646C6;
    --color-info-accent-down: #3D3DB4;
    --color-info-accent-reverse: #eeeefc;
    --color-info-accent-reverse-down: #e6e6f4;
    --color-info-accent-light: #DEDEF9;
    --color-info-primary: #242424;
    --color-info-primary-hover: #090909;
    --color-info-primary-down: #000;
    --color-info-secondary: #E8E8E8;
    --color-info-secondary-hover: #d4d4d4;
    --color-info-secondary-down: #cdcdcd;
    --color-premium: #EBCF2D;
    --gradient-highlight-vertical: linear-gradient(15deg, #7c84fc, #ff4dd2);
    --gradient-highlight-horizontal: linear-gradient(90deg, #ff4dd2, #7c84fc);
    --gradient-highlight-diagonal: linear-gradient(45deg, #7c84fc, #ff4dd2);
    --header-height: 65px;
    --brand-header-height: 79px;
    --body-background-color: var(--color-white);
    --body-alt-background-color: var(--color-gray-200);
    --body-font-family: 'adobe-clean', 'Adobe Clean', 'Trebuchet MS', sans-serif;
    --body-serif-font-family: 'adobe-clean-serif', 'Adobe Clean Serif', serif;
    --body-font-weight: normal;
    --body-color: var(--color-gray-800);
    --body-line-height: 1.5;
    --body-font-size-xxl: 1.5rem;
    --body-font-size-xl: 1.25rem;
    --body-font-size-l: 1.125rem;
    --body-font-size-m: 1rem;
    --body-font-size-s: 0.875rem;
    --body-font-size-xs: 0.75rem;
    --heading-font-weight: 800;
    --heading-color: var(--color-gray-800);
    --heading-line-height: 1.25;
    --heading-font-size-xxl: 3.75rem;
    --heading-font-size-xl: 2.8125rem;
    --heading-font-size-l: 2.25rem;
    --heading-font-size-m: 1.75rem;
    --heading-font-size-s: 1.375rem;
    --heading-font-size-xxxl: 3.75rem;

  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}




*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}