.mainContainer {
    min-height: 100vh;
    background: var(--gradient-highlight-vertical);

}

.transcribing {
    min-height: 100vh;
    /* background: var(--gradient-highlight-vertical); */
}

.videoContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.captionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 0 2em 0em 2em;
}

.captionsContainer {
    color: black;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 23em;
}

.buttonsDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 100%;
    padding: 1em;
}

.Loading {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 550;
    background: var(--gradient-highlight-vertical);
}

.captionGenerateButton {
    background: var(--color-info-primary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(124, 132, 252, 0.6), 0 20px 40px rgba(255, 77, 210, 0.8);
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.8em 1em;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease;
    width: min-content;
    height: min-content;
    text-wrap: nowrap;

}

.captionGenerateButton:active {
    transform: scale(0.95);
}

.videoContainer video {
    width: 55%;
    height: auto;
    border-radius: 10px;
    border-radius: 20px;
    box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.5);


}