.mainContainer {
    min-height: 100vh;
    background-image: url("https://imagesprojects.s3.ap-south-1.amazonaws.com/phrasify/image3.webp");

}

.transcribing {
    min-height: 100vh;
    /* background: var(--gradient-highlight-vertical); */
    background-image: url("https://imagesprojects.s3.ap-south-1.amazonaws.com/phrasify/image3.webp");
}

.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.captionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 0 2em 0em 2em;
}

.captionsContainer {
    color: black;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 23em;
}

.textOverlay {
    position: absolute;
    width: min-content;
    text-align: center;
    padding: 2em;
    width: 255px;
    overflow: hidden;
}


.progressBar {
    width: 100%;
    height: 1em;
    background-color: #f3f3f3;
    border-radius: 20px;
}

.colorContainer {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    font: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 1em;
    color: white;
}

.colorContainer div {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.buttonsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: space-around; */
    height: 100%;
    padding: 1em;
}

.Loading {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 550;
    background-image: url("https://imagesprojects.s3.ap-south-1.amazonaws.com/phrasify/image3.webp");
}

.captionGenerateButton {
    background: var(--color-info-primary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.8em 1em;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease;
    width: max-content;
    height: max-content;
    text-wrap: nowrap;
}

.captionGenerateButton:active {
    transform: scale(0.95);
}

.captionGenerateButton:disabled {
    display: none;
    cursor: not-allowed;
    box-shadow: none;
}

.videoContainer video {
    width: 55%;
    height: auto;
    border-radius: 10px;
    border-radius: 20px;
    box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.5);

}


.scrollArea{
    height: 18rem;
    width: 100%;
    margin-left: 0.5rem;
    border-radius: 10px;
    padding: 0.25rem;
    box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--color-info-primary);
    background-color: var(--color-info-primary);

}


@media (min-width: 769px) {
    
    .mainContainer{
        display: flex;
        /* border: 2px solid black; */
        justify-content: center;
        align-items: center;
        gap: 10em;
        background-image: url("https://imagesprojects.s3.ap-south-1.amazonaws.com/phrasify/image3.webp");
        background-size: cover;
    }

    .videoComponentContainer{
        order: 1;
        /* border: 2px solid black; */
    }
    .captionsContainer{
       order: -1;
       /* border: 2px solid black; */

    }
    .scrollArea{
        height: 40em;
        width: 100%;
    }

    .videoContainer video {
        width: 80%;
        height: auto;
        border-radius: 10px;
        border-radius: 20px;
        box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.5);
    
    }
}